{% extends 'base.html' %}

{% block title %}Comtact Defence{% endblock %}

{% block content %}

<h1> Company Details </h1>

{% endblock %}

{% block section%}

<div class="row-fluid-wrapper row-depth-1 row-number-11">
<div class="row-fluid">
<div class="page-center" style="" data-widget-type="cell">

<p> This is your company details </p>

<table>
<tr>
    <th>Business Name</th>
    <th></th>
    <th>Date Added</th>
    <th>Added By</th>
</tr>
<tr>
    <th> {{ client.name }}  </th>
    <th> {{ head_office }} </th>
    <th> {{ networks.network }}  </th>
    <th> {{ networks.date_discovered }} </th>
</tr> 
</table>


</div><!--end widget-span -->
</div><!--end row-->
</div>



{% endblock %}