{% extends 'base.html' %}

{% block title %}Comtact Defence{% endblock %}

{% block content %}

<h1> Company Sites </h1>

{% endblock %}

{% block section%}

<div class="row-fluid-wrapper row-depth-1 row-number-11">
<div class="row-fluid">
<div class="page-center" style="" data-widget-type="cell">

<p> The following sites have been configured in your platform. </p>

<table>
<tr>
    <th>Name</th>
    <th>Description</th>
    <th>Date Added</th>
    <th>Added By</th>
</tr>
{% for site in sites %}
<tr>
    <th> {{ site.name }}  </th>
    <th> {{ site.description }}  </th>
    <th> {{ site.date_added }} </th>
    <th> {{ site.added_by }} </th>
</tr> 
{% endfor %}
</table>


</div><!--end widget-span -->
</div><!--end row-->
</div>



{% endblock %}