{% extends 'base.html' %}

{% block title %}Centureon - Company - Profile{% endblock %}

{% block content %}

{% include 'company-menu.html' %}

<main role="main" class="col-lg px-5">
  <div class="flex-row justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 mb-2 border-bottom">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-1 mb-1">
      <h1 class="h2">Company Profile</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
        </div>
      </div>
    </div>

        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Company Details</h5>
                <h6 class="card-subtitle mb-2 text-muted">Your company account details are as follows.</h6>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Head Office - {{ client.head_office }}</li>
                  <li class="list-group-item">Company Account Number - {{ client.account_num }}</li>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Licensing</h5>
                <h6 class="card-subtitle mb-2 text-muted">Your company is licensed for the below.</h6>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Users - {{ client.licensed_users }}</li>
                  <li class="list-group-item">Addons - {{ client.licensed_modules }}</li>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Extended Information</h5>
                <h6 class="card-subtitle mb-2 text-muted">More information about your company account.</h6>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Account Manager- {{ client.account_manager }}</li>
                  <li class="list-group-item">Technical Lead - {{ client.technical_lead }}</li>
              </div>
            </div>
          </div>
          
  
  </div>
</div>
{% endblock %}

{% block section%}

{% endblock %}