{% load static %}

<!doctype html><!-- start coded_template: id:5497106785 path:generated_layouts/5497106780.html --><!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" > <![endif]--><!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en" >        <![endif]--><!--[if IE 8]>    <html class="no-js lt-ie9" lang="en" >               <![endif]--><!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]--><head>

<title>Deklan Defence Centre, Comtact LTD</title>

<link rel="shortcut icon" href="https://www.comtact.co.uk/hubfs/Logos/favicon-96x96px.png">
<link rel="canonical" href="https://www.comtact.co.uk">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:url" content="https://www.comtact.co.uk">
<link href="{% static 'layout.css'%}" rel="stylesheet">
<link rel="stylesheet" href="{% static "style.css" %}">
<link rel="stylesheet" href="{% static "module.css" %}">
<link rel="stylesheet" href="{% static "2017-mod.css" %}">
<link rel="stylesheet" href="{% static "headers.css" %}">

</head>


<body class="homeupdate home   hs-content-id-5350538708 hs-site-page page " style="">
    <div class="header-container-wrapper">
    <div class="header-container container-fluid">


    </div><!--end header -->
</div><!--end header wrapper -->

<div class="body-container-wrapper">
    <div class="body-container container-fluid">

<div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell home-header" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-2 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-global_group " style="" data-widget-type="global_group" data-x="0" data-w="12">
<!-- start coded_template: id:5481391016 path:generated_global_groups/5481648265.html -->
<div class="" data-global-widget-path="generated_global_groups/5481648265.html"><div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text mobilephone" style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1515500567546256" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><p><a href="tel:03452757575">03452 75 75 75</a></p></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-2 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell header clearHeader" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-3 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-4 ">
<div class="row-fluid ">
<div class="span3 widget-span widget-type-raw_html " style="" data-widget-type="raw_html" data-x="0" data-w="3">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_150401564348860" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html"><div class="logo">
<a href="/"><img src="https://www.comtact.co.uk/hubfs/Website%202017/Header/logo.svg" alt="Comtact Ltd. logo"></a>
</div></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span9 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="3" data-w="9">

<div class="row-fluid-wrapper row-depth-1 row-number-5 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-raw_html hidden-sm" style="" data-widget-type="raw_html" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_150408301547529" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html"><div class="topbar">
<div class="span9">
<!--<div class="support">
<img src="https://cdn2.hubspot.net/hubfs/3411787/Website%202017/Header/24-7.png" alt="24/7 icon"><p><a href="#"><span>Support</span></a></p>
</div>-->
</div>
<div class="span3">
<div class="phone phone-white">
<img src="https://www.comtact.co.uk/hubfs/Website%202017/Header/phone-icon.png" alt="Phone icon"><p><a href="tel:03452757575">03452 75 75 75</a></p>
</div>
</div>
</div></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-6 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-raw_html custom-menu-primary" style="" data-widget-type="raw_html" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_150401744501314" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html"><div class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="2017 Menu">
<ul>


<!--Secuirty Menu-->

<!--MENU START!-->
<li class="hs-menu-item hs-menu-depth-1 hs-item-has-children submenu-trigger"><a>Security Portals ▾</a><!--<div class="child-trigger"><i></i></div>!-->
<ul class="dropone hs-menu-children-wrapper ">
<div class="match-my-cols">
<div class="col9">
<div class="row">
<div class="col3">
<li class="hs-menu-item hs-menu-depth-2"><span class="title">Assess</span></li>
<div class="spacer-15"></div>
<li class="hs-menu-item hs-menu-depth-2"><a href="/security-audit">Company Assets</a></li>
<li class="hs-menu-item hs-menu-depth-2"><a href="/crest-certified-penetration-testing-services">SIEM</a>
<ul class="menu-sublist">
<li class="hs-menu-item hs-menu-depth-2"><a href="/network-penetration-testing-external">» Kibana</a></li>
<li class="hs-menu-item hs-menu-depth-2"><a href="/network-penetration-testing-internal">» OSIM</a></li>
<li class="hs-menu-item hs-menu-depth-2"><a href="/web-application-penetration-testing">» Dashboards</a></li>
<!--<li class="hs-menu-item hs-menu-depth-2"><a href="/phishing-as-a-service-cyber-security-awareness-training">» Phishing-as-a-Service</a></li>
</ul>
</li>
<!--<li class="hs-menu-item hs-menu-depth-2"><a href="#">Red Teaming</a>!-->
<li class="hs-menu-item hs-menu-depth-2"><a href="/vulnerability-scans">Vulnerability Management</a>
</li></div>
<div class="col3">
<li class="hs-menu-item hs-menu-depth-2"><span class="title">Protect</span></li>
<div class="spacer-15"></div>
<li class="hs-menu-item hs-menu-depth-2"><a href="/sentinelone-endpoint-protection-platform-epp">Endpoint Protection</a></li>
<li class="hs-menu-item hs-menu-depth-2"><a href="/zscaler-cloud-security-web-gateway">Internet Security</a></li>
<li class="hs-menu-item hs-menu-depth-2"><a href="/flexera-patch-management-software-vulnerability-manager">Patch Management</a></li>
<div class="spacer-15"></div>
<li class="hs-menu-item hs-menu-depth-2"><span class="title">Users</span></li>
<div class="spacer-15"></div>
<li class="hs-menu-item hs-menu-depth-2"><a href="/phishing-as-a-service-cyber-security-awareness-training">Phishing-as-a-Service<br>&amp; User Awareness Training</a></li>
</div>
<div class="col6" style="padding-top:0px">
<div class="row">
<div class="col6">
<li class="hs-menu-item hs-menu-depth-2"><span class="title">Detect</span> </li>
<div class="spacer-15"></div>
<li class="hs-menu-item hs-menu-depth-2"><a href="/security-operations-centre">24/7 Managed SOC</a></li>
<li class="hs-menu-item hs-menu-depth-2"><a href="/logrhythm-siem">SIEM-as-a-Service</a></li>
<!--<li class="hs-menu-item hs-menu-depth-2"><a href="#">Security-as-a-Service</a></li>!-->
</div>
<div class="col6">
<li class="hs-menu-item hs-menu-depth-2"><span class="title">Improve</span></li>
<div class="spacer-15"></div>
<li class="hs-menu-item hs-menu-depth-2"><a href="/cyber-essentials-plus-certification">Cyber Essentials PLUS</a></li>
</div>
</div>
<!--<div class="col6">
<li class="hs-menu-item hs-menu-depth-2"><span class="title">Respond</span></li>
<div class="spacer-15"></div>
<li class="hs-menu-item hs-menu-depth-2"><a href="/cyber-essentials-certification">Incident Response (IR)</a></li>
<li class="hs-menu-item hs-menu-depth-2"><a href="/cyber-essentials-plus-certification">Forensic Services</a></li>
</div>
</div>!-->
<br clear="both">
<div class="row">
<img src="https://www.comtact.co.uk/hubfs/Web/Assets/UK-Security-Operations-Centre-SOC-0296-600x250px.jpg" style="margin-top: 20px;">
</div><!--row!-->    
</div><!--col6!-->
<!--
<div class="col-sm-5ths ctablock">
</div>
-->
</div><!--row!-->
</div><!--col9!-->
<div class="col3 blue-sec">
<li class="hs-menu-item hs-menu-depth-2"><span class="title">The Voice of Cyber UK</span></li>
<div class="spacer-15"></div>
<li class="hs-menu-item hs-menu-depth-2"><a href="/real-life-uk-cyber-crime-stories">Real Life Cyber Crime Stories</a></li>
<li class="hs-menu-item hs-menu-depth-2"><a href="/security-bytes-with-joe-bertnick">Security Bytes with Joe Bertnick</a></li>
<li class="hs-menu-item hs-menu-depth-2"><a href="/blog">The Cyber Source™</a></li>
<li class="hs-menu-item hs-menu-depth-2"><span class="title">Learning Centre</span></li>
<div class="spacer-15"></div>
<!--<li class="hs-menu-item hs-menu-depth-2"><a href="/blog/endpoint-protection-epp-vs-edr-whats-the-difference">Guide to Cyber Improvement</a></li>!-->
<li class="hs-menu-item hs-menu-depth-2"><a href="/blog/common-types-of-cyber-attacks-explained">Common Types of Cyber Attack</a></li>
<li class="hs-menu-item hs-menu-depth-2"><a href="/blog/human-hacking-a-guide-to-social-engineering">Guide to Social Engineering</a></li>
<li class="hs-menu-item hs-menu-depth-2"><a href="/blog/types-of-penetration-test-whats-the-difference">Types of Penetration Test</a></li>
<li class="hs-menu-item hs-menu-depth-2"><a href="/blog/soc-team-roles-and-responsibilities-in-a-security-operations-centre">SOC Team Roles &amp; Responsibilities</a></li>
<li class="hs-menu-item hs-menu-depth-2"><a href="/blog/infographic-how-to-create-strong-passwords-you-can-remember">How to Create Strong Passwords</a></li>
</div>
</div>
</ul>
</li>
<!--MENU END!-->

<!--You Support Menu-->

<!--MENU START!-->
<li class="hs-menu-item hs-menu-depth-1 hs-item-has-children submenu-trigger"><a>Support ▾</a><!--<div class="child-trigger"><i></i></div>!-->
<ul class="droptwo hs-menu-children-wrapper ">
<div class="match-my-cols">
<div class="col9">
<div class="row">
<div class="col3">
<li class="hs-menu-item hs-menu-depth-2"><span class="title">NOC</span></li>
<div class="spacer-15"></div>
<li class="hs-menu-item hs-menu-depth-2"><a href="/outsourced-noc-services">Outsourced NOC Services</a></li>
<li class="hs-menu-item hs-menu-depth-2"><a href="/24-7-noc-network-monitoring">24/7 NOC Services</a></li>
<li class="hs-menu-item hs-menu-depth-2"><a href="/24-7-it-helpdesk-service-desk">24/7 IT Service Desk</a>
</li><li class="hs-menu-item hs-menu-depth-2"><a href="/white-label-noc-services">White Label NOC Services</a>
<div class="spacer-15"></div>
</li><li class="hs-menu-item hs-menu-depth-2"><span class="title">Virtual NOC</span></li>
<div class="spacer-15"></div>
<li class="hs-menu-item hs-menu-depth-2"><a href="/managed-virtual-noc-services-iso27001">24/7 Virtual NOC</a></li>
</div>
<div class="col3">
<li class="hs-menu-item hs-menu-depth-2"><span class="title">IT Monitoring</span></li>
<div class="spacer-15"></div>
<li class="hs-menu-item hs-menu-depth-2"><a href="/it-infrastructure-management-services">Infrastructure Management</a></li>
<li class="hs-menu-item hs-menu-depth-2"><a href="/outsourced-it-network-monitoring-virtual-noc">IT Network Monitoring</a></li>
<div class="spacer-15"></div>
<li class="hs-menu-item hs-menu-depth-2"><span class="title">SolarWinds</span></li>
<div class="spacer-15"></div>
<li class="hs-menu-item hs-menu-depth-2"><a href="/managed-network-monitoring-services">SolarWinds-as-a-Service</a></li>
<li class="hs-menu-item hs-menu-depth-2"><a href="/solarwinds-deployment-monitoring">SolarWinds Deployment</a></li>
<li class="hs-menu-item hs-menu-depth-2"><a href="/solarwinds-downloads-it-monitoring-software">SolarWinds Downloads</a></li>
</div>
<div class="col6" style="padding-top:0px">
<div class="row">
<div class="col6">
<li class="hs-menu-item hs-menu-depth-2"><span class="title">Cloud</span></li>
<div class="spacer-15"></div>
<li class="hs-menu-item hs-menu-depth-2"><a href="/cloud-migration-services">Cloud Migration</a></li>
</div>
<div class="col6">
</div>
</div>
<!--<div class="col6">
<li class="hs-menu-item hs-menu-depth-2"><span class="title">Respond</span></li>
<div class="spacer-15"></div>
<li class="hs-menu-item hs-menu-depth-2"><a href="/cyber-essentials-certification">Incident Response (IR)</a></li>
<li class="hs-menu-item hs-menu-depth-2"><a href="/cyber-essentials-plus-certification">Forensic Services</a></li>
</div>
</div>!-->
<br clear="both">
<div class="row">
<img src="https://www.comtact.co.uk/hubfs/Web/Assets/Network-Operations-Centre-NOC-UK-600x250px.jpg">
</div><!--row!-->    
</div><!--col6!-->
<!--
<div class="col-sm-5ths ctablock">
</div>
-->
</div><!--row!-->
</div><!--col9!-->
<div class="col3 blue-sec">
<li class="hs-menu-item hs-menu-depth-2"><span class="title">Guides</span></li>
<div class="spacer-15"></div>
<li class="hs-menu-item hs-menu-depth-2"><a href="/how-to-build-a-247-noc-network-operations-centre-culture">Guide: Building a 24/7 NOC Culture</a></li>
<li class="hs-menu-item hs-menu-depth-2"><a href="/guide-5-key-principles-of-effective-it-network-monitoring">Guide: Effective Network Monitoring</a></li>
<div class="spacer-15"></div>
<li class="hs-menu-item hs-menu-depth-2"><span class="title">Learning Centre</span></li>
<div class="spacer-15"></div>
<li class="hs-menu-item hs-menu-depth-2"><a href="/blog/how-to-get-24-7-network-monitoring-on-a-limited-budget">24/7 Monitoring on a Budget</a></li>
<li class="hs-menu-item hs-menu-depth-2"><a href="/blog/calculating-the-cost-of-network-downtime">Calculating the Cost of Downtime</a></li>
<li class="hs-menu-item hs-menu-depth-2"><a href="/blog/how-to-solve-the-biggest-problem-with-solarwinds">Getting the Most From SolarWinds</a></li>
</div>
</div>
</ul>
</li>
<!--MENU END!-->

<!--You Account Menu-->
<li class="hs-menu-item hs-menu-depth-1 hs-item-has-children submenu-trigger"><a>Your Account ▾</a><!--<div class="child-trigger"><i></i></div>!-->
<ul class="dropfour hs-menu-children-wrapper">
<div class="test">
<div class="col4">
<li class="hs-menu-item hs-menu-depth-2"><span class="title">Security &amp; Protection</span></li>
<div class="spacer-15"></div>
<li class="hs-menu-item hs-menu-depth-2"><a href="/sentinelone-endpoint-protection-platform-epp">SentinelOne Endpoint Protection</a></li>
<li class="hs-menu-item hs-menu-depth-2"><a href="/zscaler-cloud-security-web-gateway">Zscaler Secure Web Gateway</a></li>
<li class="hs-menu-item hs-menu-depth-2"><a href="/logrhythm-siem">LogRhythm SIEM</a></li>
</div>
<div class="col4">
<li class="hs-menu-item hs-menu-depth-2"><span class="title">Patch Management</span></li>
<div class="spacer-15"></div>
<li class="hs-menu-item hs-menu-depth-2"><a href="/flexera-vulnerability-patch-management-software">Flexera SVM</a></li>
</div>
<div class="col4">
<li class="hs-menu-item hs-menu-depth-2"><span class="title">SolarWinds</span></li>
<div class="spacer-15"></div>
<li class="hs-menu-item hs-menu-depth-2"><a href="/solarwinds-downloads-it-monitoring-software">SolarWinds Monitoring Tools</a></li>
<ul class="menu-sublist">
<li class="hs-menu-item hs-menu-depth-2"><a href="/solarwinds-network-performance-monitor">» Network Performance Monitor</a></li>
<li class="hs-menu-item hs-menu-depth-2"><a href="/solarwinds-netflow-traffic-analyser">» NetFlow Traffic Analyser</a></li>
<li class="hs-menu-item hs-menu-depth-2"><a href="/solarwinds-network-configuration-manager">» Network Configuration Manager</a></li>
<li class="hs-menu-item hs-menu-depth-2"><a href="/solarwinds-server-application-monitor">» Server &amp; Application Monitor</a></li>
<li class="hs-menu-item hs-menu-depth-2"><a href="/solarwinds-web-performance-monitor">» Web Performance Monitor</a></li>
</ul>
</div>
<div class="col4">
<li class="hs-menu-item hs-menu-depth-2"><span class="title">SolarWinds Services</span></li>
<div class="spacer-15"></div>
<li class="hs-menu-item hs-menu-depth-2"><a href="/solarwinds-deployment-monitoring">SolarWinds Deployment</a></li>
<li class="hs-menu-item hs-menu-depth-2"><a href="/solarwinds-optimisation-improvement-service">SolarWinds Health Check</a></li>
<li class="hs-menu-item hs-menu-depth-2"><a href="/managed-network-monitoring-services">SolarWinds Managed Service</a></li>
</div>
</div>
</ul>
</li>
<li class="hs-menu-item hs-menu-depth-1"><a href="/about-us">About</a></li>
<!--<li class="hs-menu-item hs-menu-depth-1"><a href="/blog">Blog</a></li>!-->
<li class="hs-menu-item hs-menu-depth-1"><a href="/contact-us">Contact</a></li>
</ul>
</div></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->
</div><!-- end coded_template: id:5481391016 path:generated_global_groups/5481648265.html -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-3 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center inner" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-4 ">
<div class="row-fluid ">
<div class="span8 widget-span widget-type-cell header-left" style="" data-widget-type="cell" data-x="0" data-w="8">

<div class="row-fluid-wrapper row-depth-1 row-number-5 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text wow fadeInUp" style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_150401572125061" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h1><span>REACH NEW HEIGHTS.</span><br> SOLVE YOUR TOUGHEST IT CHALLENGES WITH CYBER DEFENCE CENTRE </h1></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-6 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text wow fadeInUp" style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_150408206133030" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><p>Intergrated secuirty for complete protection of your orginisations estate.</p>
<p style="padding-bottom: 0px !impportant;"><a href="/about-us">Deploy Agents</a></p></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
<div class="span4 widget-span widget-type-cell header-right" style="" data-widget-type="cell" data-x="8" data-w="4">

<div class="row-fluid-wrapper row-depth-1 row-number-7 ">
<div class="row-fluid ">
<a href="/security-operations-centre">
<div class="span12 widget-span widget-type-rich_text redbox" style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_150408188096424" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><p>Manage Your <br><strong>Company</strong></p>
<div class="arrow"><img src="https://www.comtact.co.uk/hubfs/Website%202017/Home/arrow.png"></div></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
                </a>
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-8 ">
<div class="row-fluid ">
<a href="/virtual-noc">
<div class="span12 widget-span widget-type-rich_text greybox" style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_150409865668651" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><p>Download Your <br> <strong>Agents</strong></p>
<div class="arrow"><img src="https://www.comtact.co.uk/hubfs/Website%202017/Home/arrow.png"></div></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
                </a>
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-9 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell home-section-two" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-10 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-11 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_150409668712530" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h2>Proud to intergrate with</h2></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<!-- Intergration Images-->

<div class="row-fluid-wrapper row-depth-1 row-number-12 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-raw_html " style="" data-widget-type="raw_html" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_150409670623841" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">

<style>
.testimonial{
padding-left: 0px;
margin: 0;
}
.testimonial:before,
.testimonial:after{
content: "";
display: block;
clear: both;
}
.testimonial-content img{
width:100%;
margin: 0 auto;
display: block;
}
.testimonial .testimonial-content{
display: inline-block;
width: 100%;
padding-top:40px; padding-bottom:0px;
}
.owl-theme .owl-controls{
position: absolute;
top: 7%;
}
.owl-theme .owl-controls .owl-buttons div{
display: block;
width: 50px;
height: 50px;
line-height: 50px;
border-radius: 0;
background: transparent;
padding: 0;
margin: 0 0 5px 0;
opacity: 1;
position: relative;
}
.owl-prev:before,
.owl-next:before{
content: "\f104";
font-family: "fontawesome";
font-size: 60px;
color: #c9c9c9;
position: absolute;
top: 0;
}
.owl-prev:before{
left: -80%;
top: 15px;
}
.owl-next:before{
content: "\f105";
left: 1110px;
top: -39px;
}
.testimonial-content p{
font-size: 17px;
font-weight: 300;
text-align: center;
margin: 0 auto;
width: 50%;
}
.testimonial-content a{
color: #444;
padding-bottom: 1px;
border-bottom: 1px solid #ee5a28;
text-decoration: none;
letter-spacing: 2px;
font-size: 13px;
}
@media only screen and (max-width:1280px){
.testimonial{ padding-left: 0px; }
}
@media only screen and (max-width:1200px){
.owl-prev:before {
left: 100px;
top: 53px;
}
.owl-next:before {
content: "\f105";
left: 920px;
}
}
@media only screen and (max-width:990px){
.owl-prev:before{
display:none;
}
.owl-next:before{
display:none;
}
.situation-section-five h3{
width:100%;
}
.testimonial-content p{
width:100%;
}
}
@media only screen and (max-width:767px){
.testimonial{
text-align: center;
padding-left: 0;
margin: 0 15px;
}
.testimonial .testimonial-content{
width: 100%;
}
.owl-theme .owl-controls,
.owl-prev:before,
.owl-next:before{
position: static;
}
.owl-theme .owl-controls .owl-buttons div{
display: inline-block;
margin-bottom: 0;
}
}
.col8{
width: 12.5%;
float:left;
}
</style>

<div class="slider">
<div id="testimonial-slider" class="owl-carousel">
<div class="testimonial">
<div class="testimonial-content">
<div class="row">
<div class="col8">
<img src="{% static 'images/av-logo-ossim-black.jpg'%}" alt="AlienVault">
</div>
<div class="col8">
<img src="{% static 'images/zscaler-logo-og.png'%}" alt="zScaler">
</div>
<div class="col8">
<img src="{% static 'images/elastic.png'%}" alt="Elastic Search">
</div>
<div class="col8">
<img src="{% static 'images/sentinelone.png'%}" alt="SentinelOne">
</div>
<div class="col8">
<img src="{% static 'images/Demisto-Full-Color-Logo.png'%}" alt="Demisto">
</div>
<div class="col8">
<img src="{% static 'images/Palo-Alto-logo.png'%}" alt="Palo Alto">
</div>
<div class="col8">
<img src="{% static 'images/cisco.png'%}" alt="Cisco">
</div>
<div class="col8">
<img src="{% static 'images/mysql.svg'%}" alt="My SQL">
</div>
</div>
</div>
</div>

</div>
</div>
<script src="https://pagead2.googlesyndication.com/pub-config/r20160913/ca-pub-3311815518700050.js"></script><script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
<script>
$(document).ready(function(){
$("#testimonial-slider").owlCarousel({
items:1,
itemsDesktop:[1000,1],
itemsDesktopSmall:[979,1],
itemsTablet:[768,1],
pagination:false,
navigation:true,
navigationText:["",""],
slideSpeed:1000,
autoPlay:true
});
});
</script></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-13 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1504100824980148" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><p>As a government-approved Cyber Security and IT Managed Service Provider, we've built an envied reputation, helping transform some of the UK's leading organisations.</p></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell home-section-eight" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-2">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-3">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1504186170585390" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h4>Subscribe and keep your knowledge up to date.</h4></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-4">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-form " style="" data-widget-type="form" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1504186509083412" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_form" style="" data-hs-cos-general-type="widget" data-hs-cos-type="form"><h3 id="hs_cos_wrapper_module_1504186509083412_title" class="hs_cos_wrapper form-title" data-hs-cos-general-type="widget_field" data-hs-cos-type="text"></h3>

<div id="hs_form_target_module_1504186509083412"></div>








</span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->
</div><!-- end coded_template: id:5432033841 path:generated_global_groups/5432033837.html -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

    </div><!--end body -->
</div><!--end body wrapper -->

<div class="footer-container-wrapper">
    <div class="footer-container container-fluid">

<div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-global_group " style="" data-widget-type="global_group" data-x="0" data-w="12">
<!-- start coded_template: id:5316209249 path:generated_global_groups/5316209246.html -->
<div class="" data-global-widget-path="generated_global_groups/5316209246.html"><div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell footer" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-2 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-3 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell topfooter" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-4 ">
<div class="row-fluid ">
<div class="span6 widget-span widget-type-rich_text phone" style="" data-widget-type="rich_text" data-x="0" data-w="6">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1504175769735204" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><p>Contact us: <a herf="#">03452 75 75 75</a></p></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span6 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="6" data-w="6">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1504175849229215" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><div class="social"><a href="https://www.youtube.com/channel/UCq_-bfinQP_-AvD0dpsZy8g" target="_blank"><img src="https://www.comtact.co.uk/hubfs/Website%202017/Footer/youtube.png" alt="YouTube logo"></a> <a href="https://twitter.com/Comtact_ltd" target="_blank"><img src="https://www.comtact.co.uk/hubfs/Website%202017/Footer/twitter.png" alt="Twitter logo"></a> <a href="https://www.linkedin.com/company/112500/" target="_blank"><img src="https://www.comtact.co.uk/hubfs/Website%202017/Footer/Linkedin.png" alt="LinkedIn logo"></a></div></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-5 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell bottom" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-6 ">
<div class="row-fluid ">
<div class="span3 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="3">

<div class="row-fluid-wrapper row-depth-2 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1504177024797234" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h2>UK Security Operations Centre</h2>
<a href="//www.comtact.co.uk/about-us"><img src="https://www.comtact.co.uk/hubfs/Website%202017/Footer/Datacenter.jpg" alt="UK Security Operations Centre (SOC)"></a></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-2 row-number-2 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-raw_html team" style="" data-widget-type="raw_html" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1504183027780370" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html"><h2>Our Team</h2>
<div class="span3" style="margin-left:0px;">
<a href="//www.comtact.co.uk/about-us#team"><img src="https://www.comtact.co.uk/hubfs/Website%202017/Footer/Dominic-Footer.jpg" alt="Dominic List profile"></a>
</div>
<div class="span3">
<a href="//www.comtact.co.uk/about-us#team"><img src="https://www.comtact.co.uk/hubfs/Website%202017/Footer/Joe-Footer.jpg" alt="Joe Bertnick profile"></a>
</div>
<div class="span3">
<a href="//www.comtact.co.uk/about-us#team"><img src="https://www.comtact.co.uk/hubfs/Website%202017/Footer/Deklan-Footer.jpg" alt="Deklan Van De Laarschot profile"></a>
</div>
<div class="span3">
<a href="//www.comtact.co.uk/about-us#team"><img src="https://www.comtact.co.uk/hubfs/Website%202017/Footer/Eric-Footer.jpg" alt="Eric Vogel profile"></a>
</div>
</span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
<div class="span3 widget-span widget-type-rich_text location" style="" data-widget-type="rich_text" data-x="3" data-w="3">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1504177027776239" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h2>Locations</h2>
<h4 class="pto" style="padding-bottom: 5px;">Comtact Ltd. (Central)</h4>
<p>As our SOC / NOC is located within a high security Tier 3 data centre, all location enquiries should be directed to our Weybridge office.</p>
<h4 style="padding-bottom: 5px;">Comtact Ltd. (South)</h4>
<p>Devonshire House, Bourne Business Park, 5 Dashwood Lang Road, Weybridge KT15 2NY</p>
<h4 style="padding-bottom: 5px;">Comtact Ltd. (London)</h4>
<p>The Shard, 32 London Bridge Street, London, SE1 9SG</p>
<h4 style="padding-bottom: 5px;">Comtact Ltd. (North)</h4>
<p>31-33 Albion Street, Hanley, Stoke-on-Trent ST1 1QF</p></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span3 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="6" data-w="3">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1504177026516238" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h2>SOC Services</h2>
<ul>
<li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="//www.comtact.co.uk/security-operations-centre" rel=" noopener">Security Operations Centre</a></li>
<li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="//www.comtact.co.uk/crest-certified-penetration-testing-services">Penetration Testing</a></li>
<li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="//www.comtact.co.uk/vulnerability-scans">Vulnerability Management</a></li>
<li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="//www.comtact.co.uk/phishing-as-a-service-cyber-security-awareness-training" rel=" noopener">Phishing-as-a-Service<br>&amp; Security Awareness Training</a></li>
<li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="//www.comtact.co.uk/cyber-essentials-plus-certification">Cyber Essentials PLUS certification</a></li>
</ul>
<h2>NOC Services</h2>
<ul style="margin-bottom: 15px;">
<li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="//www.comtact.co.uk/outsourced-noc-services">Outsourced NOC Services</a></li>
<li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="//www.comtact.co.uk/24-7-noc-network-monitoring">24/7 NOC Services</a></li>
<li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="//www.comtact.co.uk/24-7-it-helpdesk-service-desk">24/7 IT Service Desk</a></li>
<li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="//www.comtact.co.uk/white-label-noc-services">White Label NOC Services for MSPs</a></li>
</ul>
<ul style="margin-bottom: 15px;">
<li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="//www.comtact.co.uk/it-infrastructure-management-services" rel=" noopener">IT Infrastructure Management</a></li>
<li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="//www.comtact.co.uk/outsourced-it-network-monitoring-virtual-noc">IT Network Monitoring</a></li>
<li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="//www.comtact.co.uk/managed-network-monitoring-services">SolarWinds-as-a-Service</a></li>
</ul>
<ul>
<li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="//www.comtact.co.uk/cloud-migration-services">Cloud Migration Services</a></li>
</ul></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span3 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="9" data-w="3">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1504177028608240" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h2>Company</h2>
<ul>
<li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="//www.comtact.co.uk/about-us" rel=" noopener">About Us</a></li>
<li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="//www.comtact.co.uk/blog">Blog</a></li>
<li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="//www.comtact.co.uk/contact-us">Contact Us</a></li>
<li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="//www.comtact.co.uk/terms-and-conditions">Terms &amp; Conditions</a></li>
<li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="//www.comtact.co.uk/privacy-policy">Privacy Policy</a></li>
<li><i class="fa fa-angle-right" aria-hidden="true"></i><a href="//www.comtact.co.uk/gdpr-statement" rel=" noopener">GDPR Statement</a></li>
</ul></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell footer-bottom" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-2 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-3 ">
<div class="row-fluid ">
<div class="span3 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="3">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_150425366376972" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><p>Accreditations &amp; Awards</p></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span9 widget-span widget-type-raw_html " style="" data-widget-type="raw_html" data-x="3" data-w="9">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_150425378118693" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html"><div class="footerlogos">
<div class="span3">
<img src="https://www.comtact.co.uk/hubfs/Web/Footer/CREST-certified-180x150px.jpg" alt="CREST-certified logo">
</div>
<div class="span3">
<img src="https://www.comtact.co.uk/hubfs/Web/Footer/BSI-ISO27001-180x150px.jpg" alt="ISO27001 logo">
</div>
<div class="span3">
<img src="https://www.comtact.co.uk/hubfs/Web/Footer/G-Cloud-government-supplier-180x150px.jpg" alt="G-Cloud logo">
</div>
<div class="span3">
<img src="https://www.comtact.co.uk/hubfs/Web/Footer/Cyber-Essentials-certified-180x150px.jpg" alt="Cyber Essentials logo">
</div>
</div></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-4 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-raw_html " style="" data-widget-type="raw_html" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_150401550294840" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html"><script type="text/javascript" src="{% static 'main.js'%}"></script>
<script src="{% static 'CompanyMain.js'%}"></script></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->
</div><!-- end coded_template: id:5316209249 path:generated_global_groups/5316209246.html -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

    </div><!--end footer -->
</div><!--end footer wrapper -->


    <!--[if lte IE 8]>
    <script charset="utf-8" src="https://js.hsforms.net/forms/v2-legacy.js"></script>
    <![endif]-->

</body>
</html>