{% extends 'base.html' %}
{% load static %}

{% block title %}Comtact Defence{% endblock %}

{% block content %}

<div class="jumbotron">
{% if user.is_authenticated %}
  <h1 class="display-4"><h1><span>WELCOME</span><br>{{ user.get_full_name|upper }}!</h1>
  <p class="lead">LETS GET TO WORK PROTECTING {{ client|upper }}.</p>
  <hr class="my-4">
  <p>Enterprise Cyber Security and IT Managed Services for mid-Enterprise, to help unleash your potential and empower your IT.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Getting Started</a>
{% else %}
  <h1 class="display-4"><h1><span>REACH NEW HEIGHTS.</span><br>GET LOGGED IN TO GET STARTED!</span><br></h1>
  <p class="lead">Intergrated secuirty for complete protection of your orginisations estate.</p>
  <hr class="my-4">
  <p>Enterprise Cyber Security and IT Managed Services for mid-Enterprise, to help unleash your potential and empower your IT.</p>
  <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
{% endif %} 
</div>

{% if user.is_authenticated %}

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Platform Notes</h5>
          <h6 class="card-subtitle mb-2 text-muted">Version 0.1</h6>
          <p class="card-text">Our next update to the platform is scheduled for 1 Jan 2019</p>
          <a href="#" class="card-link">Release Notes</a>
          <a href="#" class="card-link">Roadmap</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Your Company</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ client }}</h6>
          <p class="card-text">Add clever line for company here.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Licensing</h5>
          <h6 class="card-subtitle mb-2 text-muted">Your License Expires on xx/xx/xx</h6>
          <p class="card-text">Add licensing details in more context here.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div> 
    </div>
  </div>

<div class="col-sm-12">
    <div style='border-bottom:1px solid #ccc; padding-bottom:10px' ></div>
</div>


{% endif %} 

{% endblock %}

{% block section %}

{% endblock %}