{% extends 'base.html' %}
{% load static %}

{% block title %}Comtact Defence{% endblock %}

{% block content %}

<div class="jumbotron">
{% if user.is_authenticated %}
  <h1 class="display-4"><h1><span>WELCOME</span><br>{{ user.get_full_name|upper }}!</h1>
  <p class="lead">LETS GET TO WORK PROTECTING {{ client|upper }}.</p>
  <hr class="my-4">
  <p>Enterprise Cyber Security and IT Managed Services for mid-Enterprise, to help unleash your potential and empower your IT.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Getting Started</a>
{% else %}
  <h1 class="display-4"><h1><span>REACH NEW HEIGHTS.</span><br>GET LOGGED IN TO GET STARTED!</span><br></h1>
  <p class="lead">Intergrated secuirty for complete protection of your orginisations estate.</p>
  <hr class="my-4">
  <p>Enterprise Cyber Security and IT Managed Services for mid-Enterprise, to help unleash your potential and empower your IT.</p>
  <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
{% endif %} 
</div>

{% endblock %}

{% block section %}

{% endblock %}