{% extends 'base.html' %}

{% block title %}Comtact Defence - Kibana{% endblock %}

{% block oldmenu%}
<li class="hs-menu-item hs-menu-depth-1 hs-item-has-children submenu-trigger">
    <a>Kibana ▾</a>
    <ul class="dropone hs-menu-children-wrapper ">
    <div class="match-my-cols">
        <div class="col9">
            <div class="row">
                <div class="col3">
                    <li class="hs-menu-item hs-menu-depth-2">
                        <span class="title">Dashboards</span>
                    </li>
                    <div class="spacer-15"></div>
                    <li class="hs-menu-item hs-menu-depth-2">
                        <a href="/security-audit">SOC View</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2">
                        <a href="/security-audit">NOC View</a>
                    </li>
                    <li class="hs-menu-item hs-menu-depth-2">
                        <a href="/crest-certified-penetration-testing-services">SIEM</a>
                        <ul class="menu-sublist">
                            <li class="hs-menu-item hs-menu-depth-2">
                                <a href="/network-penetration-testing-external">» Firewall</a>
                            </li>
                            <li class="hs-menu-item hs-menu-depth-2">
                                <a href="/network-penetration-testing-internal">» Events</a>
                            </li>
                            <li class="hs-menu-item hs-menu-depth-2">
                                <a href="/web-application-penetration-testing">» </a>
                            </li>
                        </div>
                            </div>
                            <!--col9!-->
                        </div>
                    </ul>
                </li>
{% endblock%}


{% block content %}

{% endblock %}

{% block section%}


{% load static %}
<link rel="stylesheet" href="{% static "iframe.css" %}"></link>

<div class="iframe-container iframe-container-4x4">
    <iframe src="{{ client.kibana_url }}" ></iframe>
</div>



{% endblock %}