{% extends 'base.html' %}

{% block title %}Add New User{% endblock %}

{% block section %}

{% include 'company-menu.html' %}

<main role="main" class="col-lg px-5">
  <div class="flex-row justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 mb-2 border-bottom">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-1 mb-1">
      <h1 class="h2">Add New User</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
        </div>
      </div>
    </div>
  
  <div>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Add User</button>
    </form>
  </div>
          
  
  </div>
</div>
{% endblock %}