.security-audit-header .inner {padding: 150px 0 100px 0;}
.vulnerability-header .inner {padding: 150px 0 100px 0;}
.penetration-header .inner {padding: 150px 0 100px 0;}
.managed-security-header .inner {padding: 150px 0 100px 0;}
.siem-header .inner {padding: 150px 0 100px 0;}

.dropone.hs-menu-children-wrapper, .droptwo.hs-menu-children-wrapper, .dropthree.hs-menu-children-wrapper 
      {
    width: 320px;
    padding: 0px}

.dropone .col3, .droptwo .col3, .dropthree .col3 {
    width: 100%;
    float: left;
}

/*.cyber-essentials-header {padding: 150px 0 100px 0;}*/




@media (max-width: 1280px){
    .security-audit-header .inner {padding: 150px 0 100px 0;}
    .vulnerability-header .inner {padding: 150px 0 100px 0;}
    .penetration-header .inner {padding: 150px 0 100px 0;}
    .managed-security-header .inner {padding: 150px 0 100px 0;}
    .siem-header .inner {padding: 150px 0 100px 0;}    
    .cyber-essentials-header  .inner {padding: 150px 0 100px 0;}    
    
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .about-header .header{ background-image: none; background-size: 100%; background-repeat: no-repeat; background-position: inherit; min-height: 0px }
    .about-header { background-size:cover; padding-top:100px }
    .about-header .inner{ padding: 40px 0 0px 0; }
    .about-header .inner h1{ font-size: 31px; color: #646569; border-bottom: 8px solid #96ac00; padding-bottom: 20px; margin-bottom: 20px; padding-top: 20px;}
    .about-header .inner p{ color: #fff;/*#646569*/; }
    .about-header .header .inner .security-audit-right p{color:#fff;}
    .about-header .inner .greenbox p{color:#fff;}
    .about-header .inner .greybox p{color:#fff;}
    .about-header .inner .greybox{margin-top:0px;}
    .about-header .greenbox { width: 100% !important;}
    .about-header .inner .greybox{width:100% !important;} 
    .about-right {padding-top:70px}
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
 .about-header .header{ background-image: none; background-size: 100%; background-repeat: no-repeat; background-position: inherit; min-height: 0px }
    .about-header { background-size:cover;padding-top:100px  }
    .about-header .inner{ padding: 40px 0 0px 0; }
    .about-header .inner h1{ font-size: 31px; color: #646569; border-bottom: 8px solid #96ac00; padding-bottom: 20px; margin-bottom: 20px; padding-top: 20px;}
    .about-header .inner p{ color: #fff;/*#646569*/; }
    .about-header .header .inner .security-audit-right p{color:#fff;}
    .about-header .inner .greenbox p{color:#fff;}
    .about-header .inner .greybox p{color:#fff;}
    .about-header .inner .greybox{margin-top:0px;}
    .about-header .greenbox { width: 100% !important;}
    .about-header .inner .greybox{width:100% !important;} 
    .about-right {padding-top:70px}
  
}
    






@media (max-width: 767px){
    .security-audit-header .header{ background-image: url(https://cdn2.hubspot.net/hubfs/3411787/Website%202017/SECURITY%20AUDIT%20/SECURITY-AUDIT.jpg); background-size: 100%; background-repeat: no-repeat; background-position: inherit; min-height: 300px }
    .security-audit-header { background-image:inherit; }
    .security-audit-header .inner{ padding: 40px 0 0px 0; }
    .security-audit-header .inner h1{ font-size: 26px; color: #646569; border-bottom: 8px solid #96ac00; padding-bottom: 20px; margin-bottom: 20px; padding-top: 20px;}
    .security-audit-header .inner p{ color: #646569; }
    .security-audit-header .inner .security-audit-right p{color:#fff;}
    
    .vulnerability-header .header{ background-image: url(https://cdn2.hubspot.net/hubfs/3411787/Website%202017/VULNERABILITY/VULNERABILITY-SCAN.jpg); background-size: 100%; background-repeat: no-repeat; background-position: inherit; min-height: 300px }
    .vulnerability-header { background-image:inherit; }
    .vulnerability-header .inner{ padding: 40px 0 0px 0; }
    .vulnerability-header .inner h1{ font-size: 26px; color: #646569; border-bottom: 8px solid #96ac00; padding-bottom: 20px; margin-bottom: 20px; padding-top: 20px;}
    .vulnerability-header .inner p{ color: #646569; }
    .vulnerability-header .inner .security-audit-right p{color:#fff;}
    .vulnerability-header .inner .greenbox p{color:#fff;}
    .vulnerability-header .inner .greybox p{color:#fff;}
    .vulnerability-header .inner .greybox{margin-top:0px;}
    
    .penetration-header .header{ background-image: url(https://cdn2.hubspot.net/hubfs/3411787/Website%202017/about/About-Header.jpg); background-size: 100%; background-repeat: no-repeat; background-position: inherit; min-height: 300px }
    .penetration-header { background-image:inherit; }
    .penetration-header .inner{ padding: 40px 0 0px 0; }
    .penetration-header .inner h1{ font-size: 26px; color: #646569; border-bottom: 8px solid #96ac00; padding-bottom: 20px; margin-bottom: 20px; padding-top: 20px;}
    .penetration-header .inner p{ color: #646569; }
    .penetration-header .inner .security-audit-right p{color:#fff;}
    .penetration-header .inner .greenbox p{color:#fff;}
    .penetration-header .inner .greybox p{color:#fff;}
    .penetration-header .inner .greybox{margin-top:0px;}
    
    .managed-security-header .header{ background-image: url(https://cdn2.hubspot.net/hubfs/3411787/Website%202017/MANAGED%20SECURITY%20/Comtact-security-header.jpg); background-size: 100%; background-repeat: no-repeat; background-position: inherit; min-height: 300px }
    .managed-security-header { background-image:inherit !important; }
    .managed-security-header .inner{ padding: 40px 0 0px 0; }
    .managed-security-header .inner h1{ font-size: 26px; color: #646569; border-bottom: 8px solid #96ac00; padding-bottom: 20px; margin-bottom: 20px; padding-top: 20px;}
    .managed-security-header .inner p{ color: #646569; }
    .managed-security-header .header .inner .security-audit-right p{color:#fff;}
    .managed-security-header .inner .greenbox p{color:#fff;}
    .managed-security-header .inner .greybox p{color:#fff;}
    .managed-security-header .inner .greybox{margin-top:0px;}
    .managed-security-right .greenbox { width: 100% !important;}
    .managed-security-header .inner .greybox{width:100% !important;}
    
    .siem-header .header{ background-image: url(https://cdn2.hubspot.net/hubfs/3411787/Website%202017/SIEM/SIEM-Header.jpg); background-size: 100%; background-repeat: no-repeat; background-position: inherit; min-height: 300px }
    .siem-header { background-image:inherit; }
    .siem-header .inner{ padding: 40px 0 0px 0; }
    .siem-header .inner h1{ font-size: 26px; color: #646569; border-bottom: 8px solid #96ac00; padding-bottom: 20px; margin-bottom: 20px; padding-top: 20px;}
    .siem-header .inner p{ color: #646569; }
    .siem-header .inner .security-audit-right p{color:#fff;}
    .siem-header .inner .greenbox p{color:#fff;}
    .siem-header .inner .greybox p{color:#fff;}
    .siem-header .inner .greybox{margin-top:0px;}
 
 
   /* .cyber-essentials-header .header{ background-image: url(https://cdn2.hubspot.net/hubfs/3411787/Website%202017/CYBER%20ESSENTIALS%20/CYBER-ESSENTIALS.jpg); background-size: 100%; background-repeat: no-repeat; background-position: inherit; min-height: 300px }*/
    .cyber-essentials-header { background-image:inherit !important; }
    .cyber-essentials-header .inner{ padding: 40px 0 0px 0; }
    .cyber-essentials-header .inner h1{ font-size: 26px; color: #646569; border-bottom: 8px solid #96ac00; padding-bottom: 20px; margin-bottom: 20px; padding-top: 20px;}
    .cyber-essentials-header .inner p{ color: #646569; }
    .cyber-essentials-header .header .inner .security-audit-right p{color:#fff;}
    .cyber-essentials-header .inner .greenbox p{color:#fff;}
    .cyber-essentials-header .inner .greybox p{color:#fff;}
    .cyber-essentials-header .inner .greybox{margin-top:0px;}
    .cyber-essentials-header .greenbox { width: 100% !important;}
    .cyber-essentials-header .inner .greybox{width:100% !important;}

    .it-network-header .header{ background-image: url(https://cdn2.hubspot.net/hubfs/3411787/Website%202017/It-Network/It-Network.jpg); background-size: 100%; background-repeat: no-repeat; background-position: inherit; min-height: 300px }
    .it-network-header { background-image:inherit !important; }
    .it-network-header .inner{ padding: 40px 0 0px 0; }
    .it-network-header .inner h1{ font-size: 26px; color: #646569; border-bottom: 8px solid #96ac00; padding-bottom: 20px; margin-bottom: 20px; padding-top: 20px;}
    .it-network-header .inner p{ color: #646569; }
    .it-network-header .header .inner .security-audit-right p{color:#fff;}
    .it-network-header .inner .greenbox p{color:#fff;}
    .it-network-header .inner .greybox p{color:#fff;}
    .it-network-header .inner .greybox{margin-top:0px;}
    .it-network-header .greenbox { width: 100% !important;}
    .it-network-header .inner .greybox{width:100% !important;}
 
    .virtual-noc-header .header{ background-image: url(https://cdn2.hubspot.net/hubfs/3411787/Website%202017/Virtual%20NOC/Virtual-Noc.jpg); background-size: 100%; background-repeat: no-repeat; background-position: inherit; min-height: 300px }
    .virtual-noc-header { background-image:inherit !important; }
    .virtual-noc-header .inner{ padding: 40px 0 0px 0; }
    .virtual-noc-header .inner h1{ font-size: 31px; color: #646569; border-bottom: 8px solid #96ac00; padding-bottom: 20px; margin-bottom: 20px; padding-top: 20px;}
    .virtual-noc-header .inner p{ color: #646569; }
    .virtual-noc-header .header .inner .security-audit-right p{color:#fff;}
    .virtual-noc-header .inner .greenbox p{color:#fff;}
    .virtual-noc-header .inner .greybox p{color:#fff;}
    .virtual-noc-header .inner .greybox{margin-top:0px;}
    .virtual-noc-header .greenbox { width: 100% !important;}
    .virtual-noc-header .inner .greybox{width:100% !important;}

    .about-header .header{ /*background-image: url(https://cdn2.hubspot.net/hubfs/3411787/Website%202017/about/About-Header.jpg); background-size: 100%; background-repeat: no-repeat; background-position: inherit;*/ min-height: 1px/*300px*/ }
    .about-header { background-size:cover; }
    .about-header .inner{ padding: 40px 0 0px 0; }
    .about-header .inner h1{ font-size: 31px; color: #646569; border-bottom: 8px solid #96ac00; padding-bottom: 20px; margin-bottom: 20px; padding-top: 20px;}
    .about-header .inner p{ color: #fff;/*#646569*/; }
    .about-header .header .inner .security-audit-right p{color:#fff;}
    .about-header .inner .greenbox p{color:#fff;}
    .about-header .inner .greybox p{color:#fff;}
    .about-header .inner .greybox{margin-top:0px;}
    .about-header .greenbox { width: 100% !important;}
    .about-header .inner .greybox{width:100% !important;} 
    .about-right {padding-top:10px}

 
    .contact-header .header{ background-image: url(https://cdn2.hubspot.net/hubfs/3411787/Website%202017/contact/contact-header.jpg); background-size: 100%; background-repeat: no-repeat; background-position: inherit; min-height: 300px }
    .contact-header { background-image:inherit !important; }
    .contact-header .inner{ padding: 40px 0 0px 0; }
    .contact-header .inner h1{ font-size: 26px; color: #646569; border-bottom: 8px solid #96ac00; padding-bottom: 20px; margin-bottom: 20px; padding-top: 20px;}
    .contact-header .inner p{ color: #646569; }
    .contact-header .header .inner .security-audit-right p{color:#fff;}
    .contact-header .inner .greenbox p{color:#fff;}
    .contact-header .inner .greybox p{color:#fff;}
    .contact-header .inner .greybox{margin-top:0px;}
    .contact-header .greenbox { width: 100% !important;}
    .contact-header .inner .greybox{width:100% !important;} 

 
    .blog-header .header{ background-image: url(https://cdn2.hubspot.net/hubfs/3411787/Website%202017/about/Blog-NOC-SOC-Header.jpg); background-size: 100%; background-repeat: no-repeat; background-position: inherit; min-height: 300px !important; }
    .blog-header { background-image:inherit !important; }
    .blog-header .inner{ padding: 20px 20px 30px 20px; }
    .blog-header .inner h1{ font-size: 31px; color: #646569; border-bottom: 8px solid #96ac00; padding-bottom: 20px; margin-bottom: 20px; padding-top: 20px;}
    .blogSection{padding: 10px 20px 50px; margin-top:0px;}
  
 
    .security-audit-right .greybox{margin-top:0px;}
    .secure-internet-section-four{display:none !important;}


}


@media (max-width: 590px){
    .security-audit-header .header{min-height:230px;}
    
    .vulnerability-header .header{min-height:230px;}
    
    .penetration-header  .header{min-height:230px;}
    
    .managed-security-header  .header{min-height:230px;}
    
    .siem-header  .header{min-height:230px;}
    
    .cyber-essentials-header .header{min-height:230px;}  

    .it-network-header .header{min-height:230px;}
    
    .virtual-noc-header .header{min-height:230px;}
    
    .about-header .header{/*min-height:230px;*/}
    
    .contact-header .header{min-height:230px;}
    
    .blog-header .header{min-height:230px !important;}
    
    
    
    
    
}

@media (max-width: 450px){
    .security-audit-header .header{min-height: 228px; background-size: 130%; background-position: -50px 0;}
    .security-audit-header .inner{padding:3px 0 0 0;}
    
    .vulnerability-header .header{min-height: 228px; background-size: 130%; background-position: -50px 0;}
    .vulnerability-header .inner{padding:3px 0 0 0;}

    .penetration-header .header{min-height: 228px; background-size: 130%; background-position: -50px 0;}
    .penetration-header .inner{padding:3px 0 0 0;}
    
    .managed-security-header .header{min-height: 228px; background-size: 130%; background-position: -50px 0;}
    .managed-security-header .inner{padding:3px 0 0 0;}
    
    .siem-header .header{min-height: 228px; background-size: 130%; background-position: -50px 0;}
    .siem-header .inner{padding:3px 0 0 0;}
    
    .cyber-essentials-header .header{min-height: 228px; background-size: 130%; background-position: -50px 0;}
    .cyber-essentials-header .inner{padding:3px 0 0 0;}
    
    .it-network-header .header{min-height: 228px; background-size: 130%; background-position: -50px 0;}
    .it-network-header .inner{padding:3px 0 0 0;}
    
    .virtual-noc-header .header{min-height: 228px; background-size: 130%; background-position: -50px 0;}
    .virtual-noc-header .inner{padding:3px 0 0 0;}

  
    .about-header .header{/*min-height: 228px*/; background-size: 130%; background-position: -50px 0;}
    .about-header .inner{padding:3px 0 0 0;}
    
    
    .contact-header .header{min-height: 228px; background-size: 130%; background-position: -50px 0;}
    .contact-header .inner{padding:3px 0 0 0;}
    
    
    .blog-header .header{min-height: 228px  !important; background-size: 130%; background-position: -50px 0;}
    .blog-header .inner{padding:3px 20px 0 20px;}
    
    
    
    
    
    
    

}

@media (max-width: 320px){
    .security-audit-header .header{background-size: 160%;}
    
    .vulnerability-header .header{background-size: 160%;}
    
    .penetration-header .header{background-size: 160%;}
    
    .managed-security-header .header{background-size: 160%;}

    .siem-header  .header{background-size: 160%;}
    
    .cyber-essentials-header .header{background-size: 160%;}
    
    .it-network-header .header{background-size: 160%;}
    
    .virtual-noc-header .header{background-size: 160%;}
    
    .about-header .header{background-size: 160%;}
    
    .contact-header .header{background-size: 160%;}
    
    .blog-header .header{background-size: 160%  !important;}

}



  
  
  .custom-menu-primary .hs-menu-wrapper>ul ul li {
    background-color:transparent!important;
  }
  
  .dropone .col9, .droptwo .col9, .dropthree .col9 {float:left; padding:15px}
 .dropone .col3,  .droptwo .col3,  .dropthree .col3 { float:left}
  .dropone .col4, .droptwo .col4, .dropthree .col4 { float:left}
   .dropone .col6, .droptwo .col6, .dropthree .col6 {float:left}
  

  
.hs-menu-children-wrapper {background:#f7f7f7}
  .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1 {cursor:default}
  .hs-menu-children-wrapper .title {
    text-transform:uppercase;
    color:#7c7c7c;
    padding-bottom: 5px;
    margin-bottom:25px;
    font-size:16px;
      font-weight:700;
    position:relative
  }
  
  .hs-menu-children-wrapper .title{
    color:#1c3542;
    position:relative!important;
    display: block;
    width: 90%;
    margin-bottom:0px
  }
  .hs-menu-children-wrapper .title:after{
        position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background:#9c9c9c;

  }
  
  .custom-menu-primary .hs-menu-wrapper>ul ul li a {color:#7c7c7c}
  .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper li a  {font-weight:400; background-color:transparent!important;
  }
  .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper li a:hover{
    color:#96ac00;
  }
  
.hs-menu-children-wrapper.blue-sec li a  {color:#fff!important;
  }
  
  .darkHeader .hs-menu-wrapper .col9 a {color:#8a8c8c!important}
  .darkHeader.hs-menu-wrapper .blue-sec a {color:#fff!important}
  
  
  .spacer-15 {
    height: 15px;
    background: transparent;
}
  
  .darkHeader .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper li {
    color:#8a8c8c;
  }
  

  .custom-menu-primary .hs-menu-wrapper>ul ul li a {padding:2px 0}
  
  .dropone.hs-menu-children-wrapper, .droptwo.hs-menu-children-wrapper, .droptwo.hs-menu-children-wrapper {width: 100%;
    /*left: -410px !important;*/ padding:0px}
  .dropone .blue-sec, .droptwo .blue-sec, .dropthree .blue-sec{background:#1C3540; color:#fff!important; padding:15px 15px 100012px 30px!important}
  .blue-sec .title, .blue-sec a, .blue-sec a {color:#fff!important; padding-top:15px}
  
  

  .menu-sublist, .menu-sublist:hover,.menu-sublist:focus {display:block!important}
  
  .menu-sublist li a{
    font-size: 13px!important;
    padding-left: 6px!important;
  }
  
  .darkHeader .hs-menu-wrapper .test a {color:#8a8c8c!important}
  
    @media (min-width:1025px) {
  .dropone .col9, .droptwo .col9, .dropthree .col9 {width:75%; float:left; padding:15px}
 .dropone .col3,  .droptwo .col3,  .dropthree .col3 {width:25%; float:left}
  .dropone .col4, .droptwo .col4, .dropthree .col4 {width:33.3%; float:left}
   .dropone .col6, .droptwo .col6, .dropthree .col6 {width:50%; float:left}
  
        .dropone.hs-menu-children-wrapper, .droptwo.hs-menu-children-wrapper, .dropthree.hs-menu-children-wrapper 
      {
    width: 1200px;
    padding: 0px}
      
        .droptwo.hs-menu-children-wrapper {left: -280%!important;}
  }
  
    .dropfour.hs-menu-children-wrapper {left: -366%!important;}
  }
  
  
      .dropone .blue-sec, .droptwo .blue-sec, .dropthree .blue-sec{background:#1C3540; color:#fff!important; padding:15px 15px 100012px 30px!important}
 
  .blue-sec .title, .blue-sec a, .blue-sec a {color:#fff!important; padding-top:15px}
    .match-my-cols {
    overflow: hidden; 
}
.match-my-cols [class*="col"]{
    margin-bottom: -99999px;
    padding:15px 15px 100012px 15px;
}