{% load static %}


<html lang="en">
  <head>
     <title>{% block title %}{% endblock %}</title>
  </head>

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky navbar-static-top">
    <a class="navbar-brand" href="/home">Centureon</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
        {% block menu %}
        {% endblock%}
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Portals</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/home/assets">Asset Management</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/home/company/solarwinds">Monitoring</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">End Point Protection</a>
              <a class="dropdown-item" href="/home/company/kibana">Analytics & Logs</a>
          </div>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Support</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="https://comtact.microsoftcrmportals.com/support/">Service Desk</a>
            <!-- <a class="dropdown-item" href="#">Remote Support</a> -->
          </div>
        </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Your Account</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="/home/company">Company</a>
            <a class="dropdown-item" href="#">Users</a>
            <a class="dropdown-item" href="#">Connectors</a>
          </div>
          {% endif %}
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logoff</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/login">Logon</a>
          </li>
          {% endif %}
      </ul>
    </div>
  </nav>
</header>


{% block content %}

{% endblock %}

{% block section %}

{% endblock %}
<!-- <div>
  <footer class="footer fixed-bottom">
      <p class="left"> &copy; 2020 Comtact, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</div>
--> 
</html>