																									<!-- Footer -->
																									<div class="footer-container-wrapper">
																										<div class="footer-container container-fluid">
																											<div class="row-fluid-wrapper row-depth-1 row-number-1 ">
																												<div class="row-fluid ">
																													<div class="span12 widget-span widget-type-global_group " style="" data-widget-type="global_group" data-x="0" data-w="12">
																														<!-- start coded_template: id:5316209249 path:generated_global_groups/5316209246.html -->
																														<div class="" data-global-widget-path="generated_global_groups/5316209246.html">
																															<div class="row-fluid-wrapper row-depth-1 row-number-1 ">
																																<div class="row-fluid ">
																																	<div class="span12 widget-span widget-type-cell footer" style="" data-widget-type="cell" data-x="0" data-w="12">
																																		<div class="row-fluid-wrapper row-depth-1 row-number-2 ">
																																			<div class="row-fluid ">
																																				<div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">
																																					<div class="row-fluid-wrapper row-depth-1 row-number-3 ">
																																						<div class="row-fluid ">
																																							<div class="span12 widget-span widget-type-cell topfooter" style="" data-widget-type="cell" data-x="0" data-w="12">
																																								<div class="row-fluid-wrapper row-depth-1 row-number-4 ">
																																									<div class="row-fluid ">
																																										<div class="span6 widget-span widget-type-rich_text phone" style="" data-widget-type="rich_text" data-x="0" data-w="6">
																																											<div class="cell-wrapper layout-widget-wrapper">
																																												<span id="hs_cos_wrapper_module_1504175769735204" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text">
																																													<p>Contact us: 
																																														<a herf="#">03452 75 75 75</a>
																																													</p>
																																												</span>
																																											</div>
																																											<!--end layout-widget-wrapper -->
																																										</div>
																																										<!--end widget-span -->
																																										<div class="span6 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="6" data-w="6">
																																											<div class="cell-wrapper layout-widget-wrapper">
																																												<span id="hs_cos_wrapper_module_1504175849229215" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text">
																																													<div class="social">
																																														<a href="https://www.youtube.com/channel/UCq_-bfinQP_-AvD0dpsZy8g" target="_blank">
																																															<img src="https://www.comtact.co.uk/hubfs/Website%202017/Footer/youtube.png" alt="YouTube logo">
																																															</a>
																																															<a href="https://twitter.com/Comtact_ltd" target="_blank">
																																																<img src="https://www.comtact.co.uk/hubfs/Website%202017/Footer/twitter.png" alt="Twitter logo">
																																																</a>
																																																<a href="https://www.linkedin.com/company/112500/" target="_blank">
																																																	<img src="https://www.comtact.co.uk/hubfs/Website%202017/Footer/Linkedin.png" alt="LinkedIn logo">
																																																	</a>
																																																</div>
																																															</span>
																																														</div>
																																														<!--end layout-widget-wrapper -->
																																													</div>
																																													<!--end widget-span -->
																																												</div>
																																												<!--end row-->
																																											</div>
																																											<!--end row-wrapper -->
																																										</div>
																																										<!--end widget-span -->
																																									</div>
																																									<!--end row-->
																																								</div>
																																								<!--end row-wrapper -->
																																								<div class="row-fluid-wrapper row-depth-1 row-number-5 ">
																																									<div class="row-fluid ">
																																										<div class="span12 widget-span widget-type-cell bottom" style="" data-widget-type="cell" data-x="0" data-w="12">
																																											<div class="row-fluid-wrapper row-depth-1 row-number-6 ">
																																												<div class="row-fluid ">
																																													<div class="span3 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="3">
																																														<div class="row-fluid-wrapper row-depth-2 row-number-1 ">
																																															<div class="row-fluid ">
																																																<div class="span12 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="12">
																																																	<div class="cell-wrapper layout-widget-wrapper">
																																																		<span id="hs_cos_wrapper_module_1504177024797234" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text">
																																																			<h2>UK Security Operations Centre</h2>
																																																			<a href="//www.comtact.co.uk/about-us">
																																																				<img src="https://www.comtact.co.uk/hubfs/Website%202017/Footer/Datacenter.jpg" alt="UK Security Operations Centre (SOC)">
																																																				</a>
																																																			</span>
																																																		</div>
																																																		<!--end layout-widget-wrapper -->
																																																	</div>
																																																	<!--end widget-span -->
																																																</div>
																																																<!--end row-->
																																															</div>
																																															<!--end row-wrapper -->
																																															<div class="row-fluid-wrapper row-depth-2 row-number-2 ">
																																																<div class="row-fluid ">
																																																	<div class="span12 widget-span widget-type-raw_html team" style="" data-widget-type="raw_html" data-x="0" data-w="12">
																																																		<div class="cell-wrapper layout-widget-wrapper">
																																																			<span id="hs_cos_wrapper_module_1504183027780370" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html">
																																																				<h2>Our Team</h2>
																																																				<div class="span3" style="margin-left:0px;">
																																																					<a href="//www.comtact.co.uk/about-us#team">
																																																						<img src="https://www.comtact.co.uk/hubfs/Website%202017/Footer/Dominic-Footer.jpg" alt="Dominic List profile">
																																																						</a>
																																																					</div>
																																																					<div class="span3">
																																																						<a href="//www.comtact.co.uk/about-us#team">
																																																							<img src="https://www.comtact.co.uk/hubfs/Website%202017/Footer/Joe-Footer.jpg" alt="Joe Bertnick profile">
																																																							</a>
																																																						</div>
																																																						<div class="span3">
																																																							<a href="//www.comtact.co.uk/about-us#team">
																																																								<img src="https://www.comtact.co.uk/hubfs/Website%202017/Footer/Deklan-Footer.jpg" alt="Deklan Van De Laarschot profile">
																																																								</a>
																																																							</div>
																																																							<div class="span3">
																																																								<a href="//www.comtact.co.uk/about-us#team">
																																																									<img src="https://www.comtact.co.uk/hubfs/Website%202017/Footer/Eric-Footer.jpg" alt="Eric Vogel profile">
																																																									</a>
																																																								</div>
																																																							</span>
																																																						</div>
																																																						<!--end layout-widget-wrapper -->
																																																					</div>
																																																					<!--end widget-span -->
																																																				</div>
																																																				<!--end row-->
																																																			</div>
																																																			<!--end row-wrapper -->
																																																		</div>
																																																		<!--end widget-span -->
																																																		<div class="span3 widget-span widget-type-rich_text location" style="" data-widget-type="rich_text" data-x="3" data-w="3">
																																																			<div class="cell-wrapper layout-widget-wrapper">
																																																				<span id="hs_cos_wrapper_module_1504177027776239" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text">
																																																					<h2>Locations</h2>
																																																					<h4 class="pto" style="padding-bottom: 5px;">Comtact Ltd. (Central)</h4>
																																																					<p>As our SOC / NOC is located within a high security Tier 3 data centre, all location enquiries should be directed to our Weybridge office.</p>
																																																					<h4 style="padding-bottom: 5px;">Comtact Ltd. (South)</h4>
																																																					<p>Devonshire House, Bourne Business Park, 5 Dashwood Lang Road, Weybridge KT15 2NY</p>
																																																					<h4 style="padding-bottom: 5px;">Comtact Ltd. (London)</h4>
																																																					<p>The Shard, 32 London Bridge Street, London, SE1 9SG</p>
																																																					<h4 style="padding-bottom: 5px;">Comtact Ltd. (North)</h4>
																																																					<p>31-33 Albion Street, Hanley, Stoke-on-Trent ST1 1QF</p>
																																																				</span>
																																																			</div>
																																																			<!--end layout-widget-wrapper -->
																																																		</div>
																																																		<!--end widget-span -->
																																																		<div class="span3 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="6" data-w="3">
																																																			<div class="cell-wrapper layout-widget-wrapper">
																																																				<span id="hs_cos_wrapper_module_1504177026516238" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text">
																																																					<h2>SOC Services</h2>
																																																					<ul>
																																																						<li>
																																																							<i class="fa fa-angle-right" aria-hidden="true"></i>
																																																							<a href="//www.comtact.co.uk/security-operations-centre" rel=" noopener">Security Operations Centre</a>
																																																						</li>
																																																						<li>
																																																							<i class="fa fa-angle-right" aria-hidden="true"></i>
																																																							<a href="//www.comtact.co.uk/crest-certified-penetration-testing-services">Penetration Testing</a>
																																																						</li>
																																																						<li>
																																																							<i class="fa fa-angle-right" aria-hidden="true"></i>
																																																							<a href="//www.comtact.co.uk/vulnerability-scans">Vulnerability Management</a>
																																																						</li>
																																																						<li>
																																																							<i class="fa fa-angle-right" aria-hidden="true"></i>
																																																							<a href="//www.comtact.co.uk/phishing-as-a-service-cyber-security-awareness-training" rel=" noopener">Phishing-as-a-Service
																																																								<br>&amp; Security Awareness Training
																																																								</a>
																																																							</li>
																																																							<li>
																																																								<i class="fa fa-angle-right" aria-hidden="true"></i>
																																																								<a href="//www.comtact.co.uk/cyber-essentials-plus-certification">Cyber Essentials PLUS certification</a>
																																																							</li>
																																																						</ul>
																																																						<h2>NOC Services</h2>
																																																						<ul style="margin-bottom: 15px;">
																																																							<li>
																																																								<i class="fa fa-angle-right" aria-hidden="true"></i>
																																																								<a href="//www.comtact.co.uk/outsourced-noc-services">Outsourced NOC Services</a>
																																																							</li>
																																																							<li>
																																																								<i class="fa fa-angle-right" aria-hidden="true"></i>
																																																								<a href="//www.comtact.co.uk/24-7-noc-network-monitoring">24/7 NOC Services</a>
																																																							</li>
																																																							<li>
																																																								<i class="fa fa-angle-right" aria-hidden="true"></i>
																																																								<a href="//www.comtact.co.uk/24-7-it-helpdesk-service-desk">24/7 IT Service Desk</a>
																																																							</li>
																																																							<li>
																																																								<i class="fa fa-angle-right" aria-hidden="true"></i>
																																																								<a href="//www.comtact.co.uk/white-label-noc-services">White Label NOC Services for MSPs</a>
																																																							</li>
																																																						</ul>
																																																						<ul style="margin-bottom: 15px;">
																																																							<li>
																																																								<i class="fa fa-angle-right" aria-hidden="true"></i>
																																																								<a href="//www.comtact.co.uk/it-infrastructure-management-services" rel=" noopener">IT Infrastructure Management</a>
																																																							</li>
																																																							<li>
																																																								<i class="fa fa-angle-right" aria-hidden="true"></i>
																																																								<a href="//www.comtact.co.uk/outsourced-it-network-monitoring-virtual-noc">IT Network Monitoring</a>
																																																							</li>
																																																							<li>
																																																								<i class="fa fa-angle-right" aria-hidden="true"></i>
																																																								<a href="//www.comtact.co.uk/managed-network-monitoring-services">SolarWinds-as-a-Service</a>
																																																							</li>
																																																						</ul>
																																																						<ul>
																																																							<li>
																																																								<i class="fa fa-angle-right" aria-hidden="true"></i>
																																																								<a href="//www.comtact.co.uk/cloud-migration-services">Cloud Migration Services</a>
																																																							</li>
																																																						</ul>
																																																					</span>
																																																				</div>
																																																				<!--end layout-widget-wrapper -->
																																																			</div>
																																																			<!--end widget-span -->
																																																			<div class="span3 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="9" data-w="3">
																																																				<div class="cell-wrapper layout-widget-wrapper">
																																																					<span id="hs_cos_wrapper_module_1504177028608240" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text">
																																																						<h2>Company</h2>
																																																						<ul>
																																																							<li>
																																																								<i class="fa fa-angle-right" aria-hidden="true"></i>
																																																								<a href="//www.comtact.co.uk/about-us" rel=" noopener">About Us</a>
																																																							</li>
																																																							<li>
																																																								<i class="fa fa-angle-right" aria-hidden="true"></i>
																																																								<a href="//www.comtact.co.uk/blog">Blog</a>
																																																							</li>
																																																							<li>
																																																								<i class="fa fa-angle-right" aria-hidden="true"></i>
																																																								<a href="//www.comtact.co.uk/contact-us">Contact Us</a>
																																																							</li>
																																																							<li>
																																																								<i class="fa fa-angle-right" aria-hidden="true"></i>
																																																								<a href="//www.comtact.co.uk/terms-and-conditions">Terms &amp; Conditions</a>
																																																							</li>
																																																							<li>
																																																								<i class="fa fa-angle-right" aria-hidden="true"></i>
																																																								<a href="//www.comtact.co.uk/privacy-policy">Privacy Policy</a>
																																																							</li>
																																																							<li>
																																																								<i class="fa fa-angle-right" aria-hidden="true"></i>
																																																								<a href="//www.comtact.co.uk/gdpr-statement" rel=" noopener">GDPR Statement</a>
																																																							</li>
																																																						</ul>
																																																					</span>
																																																				</div>
																																																				<!--end layout-widget-wrapper -->
																																																			</div>
																																																			<!--end widget-span -->
																																																		</div>
																																																		<!--end row-->
																																																	</div>
																																																	<!--end row-wrapper -->
																																																</div>
																																																<!--end widget-span -->
																																															</div>
																																															<!--end row-->
																																														</div>
																																														<!--end row-wrapper -->
																																													</div>
																																													<!--end widget-span -->
																																												</div>
																																												<!--end row-->
																																											</div>
																																											<!--end row-wrapper -->
																																										</div>
																																										<!--end widget-span -->
																																									</div>
																																									<!--end row-->
																																								</div>
																																								<!--end row-wrapper -->
																																								<div class="row-fluid-wrapper row-depth-1 row-number-1 ">
																																									<div class="row-fluid ">
																																										<div class="span12 widget-span widget-type-cell footer-bottom" style="" data-widget-type="cell" data-x="0" data-w="12">
																																											<div class="row-fluid-wrapper row-depth-1 row-number-2 ">
																																												<div class="row-fluid ">
																																													<div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">
																																														<div class="row-fluid-wrapper row-depth-1 row-number-3 ">
																																															<div class="row-fluid ">
																																																<div class="span3 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="3">
																																																	<div class="cell-wrapper layout-widget-wrapper">
																																																		<span id="hs_cos_wrapper_module_150425366376972" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text">
																																																			<p>Accreditations &amp; Awards</p>
																																																		</span>
																																																	</div>
																																																	<!--end layout-widget-wrapper -->
																																																</div>
																																																<!--end widget-span -->
																																																<div class="span9 widget-span widget-type-raw_html " style="" data-widget-type="raw_html" data-x="3" data-w="9">
																																																	<div class="cell-wrapper layout-widget-wrapper">
																																																		<span id="hs_cos_wrapper_module_150425378118693" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html">
																																																			<div class="footerlogos">
																																																				<div class="span3">
																																																					<img src="https://www.comtact.co.uk/hubfs/Web/Footer/CREST-certified-180x150px.jpg" alt="CREST-certified logo">
																																																					</div>
																																																					<div class="span3">
																																																						<img src="https://www.comtact.co.uk/hubfs/Web/Footer/BSI-ISO27001-180x150px.jpg" alt="ISO27001 logo">
																																																						</div>
																																																						<div class="span3">
																																																							<img src="https://www.comtact.co.uk/hubfs/Web/Footer/G-Cloud-government-supplier-180x150px.jpg" alt="G-Cloud logo">
																																																							</div>
																																																							<div class="span3">
																																																								<img src="https://www.comtact.co.uk/hubfs/Web/Footer/Cyber-Essentials-certified-180x150px.jpg" alt="Cyber Essentials logo">
																																																								</div>
																																																							</div>
																																																						</span>
																																																					</div>
																																																					<!--end layout-widget-wrapper -->
																																																				</div>
																																																				<!--end widget-span -->
																																																			</div>
																																																			<!--end row-->
																																																		</div>
																																																		<!--end row-wrapper -->
																																																	</div>
																																																	<!--end widget-span -->
																																																</div>
																																																<!--end row-->
																																															</div>
																																															<!--end row-wrapper -->
																																														</div>
																																														<!--end widget-span -->
																																													</div>
																																													<!--end row-->
																																												</div>
																																												<!--end row-wrapper -->
																																												<div class="row-fluid-wrapper row-depth-1 row-number-4 ">
																																													<div class="row-fluid ">
																																														<div class="span12 widget-span widget-type-raw_html " style="" data-widget-type="raw_html" data-x="0" data-w="12">
																																															<div class="cell-wrapper layout-widget-wrapper">
																																																<span id="hs_cos_wrapper_module_150401550294840" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html">
																																																	<script type="text/javascript" src="{% static 'main.js'%}"></script>
																																																	<script src="{% static 'CompanyMain.js'%}"></script>
																																																</span>
																																															</div>
																																															<!--end layout-widget-wrapper -->
																																														</div>
																																														<!--end widget-span -->
																																													</div>
																																													<!--end row-->
																																												</div>
																																												<!--end row-wrapper -->
																																											</div>
																																											<!-- end coded_template: id:5316209249 path:generated_global_groups/5316209246.html -->
																																										</div>
																																										<!--end widget-span -->
																																									</div>
																																									<!--end row-->
																																								</div>
																																								<!--end row-wrapper -->
																																							</div>
																																							<!--end footer -->
																																						</div>
																																						<!--end footer wrapper -->
																																						<!--[if lte IE 8]>
																																						<script charset="utf-8" src="https://js.hsforms.net/forms/v2-legacy.js"></script>
																																						<![endif]-->
																																					</body>
                                                                                                                                                    