{% extends 'base.html' %}

{% block title %}Centureon - {{ datastore.name }}{% endblock %}

{% block content %}
{% csrf_token %}


{% include 'menu.html' %}

<main role="main" class="col-lg px-5">
  <div class="flex-row justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 mb-2 border-bottom">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-1 mb-1">
      <h1 class="h2">Datastore Asset</h1>
        <div class="btn-toolbar mb-3 mb-md-0">
          <div class="btn-group mr-3">
            <button type="button" data-toggle="modal" data-target="#modal-delete" class="btn btn-sm btn-outline-secondary">Delete</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Export</button> -->
          </div>
        </div>
      </div>
    </div>

        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Device Details</h5>
                <h6 class="card-subtitle mb-2 text-muted">Technical Details</h6>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Device DNS - {{ device.fqdn }}</li>
                  <li class="list-group-item">Device IP - {{ device.ip_address }}</li>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Extended Information</h5>
                <h6 class="card-subtitle mb-2 text-muted">Technical Details</h6>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Site - {{ device.fqdn }}</li>
                  <li class="list-group-item">Owner - {{ device.ip_address }}</li>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Extended Information</h5>
                <h6 class="card-subtitle mb-2 text-muted">Technical Details</h6>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Site - {{ device.fqdn }}</li>
                  <li class="list-group-item">Owner - {{ device.ip_address }}</li>
              </div>
            </div>
          </div>
          
  
  </div>
</div>

<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="modal-delete" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Asset</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this Asset?
      </div>
      <div class="modal-footer">
        <button type="button" id="post-btn" class="btn btn-primary">Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<script>
function getCookie(c_name)
{
    if (document.cookie.length > 0)
    {
        c_start = document.cookie.indexOf(c_name + "=");
        if (c_start != -1)
        {
            c_start = c_start + c_name.length + 1;
            c_end = document.cookie.indexOf(";", c_start);
            if (c_end == -1) c_end = document.cookie.length;
            return unescape(document.cookie.substring(c_start,c_end));
        }
    }
    return "";
 }
</script>

<script>
const button = document.getElementById('post-btn');

button.addEventListener('click', async _ => {
  try {     
    const response = await fetch('', {
      method: 'post',
      headers: { "X-CSRFToken": getCookie("csrftoken") },
      body: {
        "delete":'yes'
      }
    });
    { 
        window.location.href = '/home/assets/datastores'; 
    };
    console.log('Completed!', response);
  } catch(err) {
    console.error(`Error: ${err}`);
  }
});
</script>
{% endblock %}

{% block section%}


{% endblock %}