{% extends 'base.html' %}

{% block title %}Centureon - Assets - Devices{% endblock %}

{% block content %}

{% include 'menu.html' %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <h1>Devices</h1>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Name</th>
              <th>DNS</th>
              <th>IP</th>
              <th>Date Added</th>
              <th>Added By</th>
              <th>Owner</th>
            </tr>
          </thead>
          <tbody>
            {% for device in devices %}
            <tr>
                <th> <a href="./devices/{{ device.id }}"> {{ device.name }}  </th>
                <th> {{ device.fqdn }}  </th>
                <th> {{ device.ip_address }}  </th>
                <th> {{ device.created_at }} </th>
                <th> {{ device.created_by }} </th>
                <th> {{ device.owner }} </th>
            </tr> 
          {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
{% endblock %}

{% block section%}

{% endblock %}