{% extends 'base.html' %}

{% block title %}Centureon - {{ network.name }}{% endblock %}

{% block content %}
{% csrf_token %}

{% include 'menu.html' %}

<main role="main" class="col-lg px-5">
  <div class="flex-row justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 mb-2 border-bottom">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-1 mb-1">
      <h1 class="h2">Network Asset</h1>
        <div class="btn-toolbar mb-3 mb-md-0">
          <div class="btn-group mr-3">
            <button type="button" id="post-btn" class="btn btn-sm btn-outline-secondary">Delete</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
        </div>
      </div>
    </div>

        <div class="row">
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Network  Details</h5>
                <h6 class="card-subtitle mb-2 text-muted">Asset Details</h6>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Name - {{ network.name }}</li>
                  <li class="list-group-item">Created By - {{ network.created_by }}</li>
                  <li class="list-group-item">Created At - {{ network.created_at }}</li>
                  <li class="list-group-item">Updated At - {{ network.updated_at }}</li>
                  <li class="list-group-item">Enabled - {{ network.enabled }}</li>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Technical Details</h5>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">CIDR - {{ network.cidr }}</li>
                  <li class="list-group-item">Owner - {{ network.owner }}</li>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Extended Information</h5>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Description - {{ network.description }}</li>
                  <li class="list-group-item">Tags - {{ network.tag }}</li>
                  <li class="list-group-item">Site
                    <iframe width="100%" height="250px" src="https://maps.google.com/maps?q={{ network.site.postal_code }}=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0"></iframe>
                  </li>
              </div>
            </div>
          </div>
          
  
  </div>
</div>

<script>
function getCookie(c_name)
{
    if (document.cookie.length > 0)
    {
        c_start = document.cookie.indexOf(c_name + "=");
        if (c_start != -1)
        {
            c_start = c_start + c_name.length + 1;
            c_end = document.cookie.indexOf(";", c_start);
            if (c_end == -1) c_end = document.cookie.length;
            return unescape(document.cookie.substring(c_start,c_end));
        }
    }
    return "";
 }
</script>

<script>
const button = document.getElementById('post-btn');

button.addEventListener('click', async _ => {
  try {     
    const response = await fetch('', {
      method: 'post',
      headers: { "X-CSRFToken": getCookie("csrftoken") },
      body: {
        "delete":'yes'
      }
    });
    { 
        window.location.href = '/home/assets/networks'; 
    };
    console.log('Completed!', response);
  } catch(err) {
    console.error(`Error: ${err}`);
  }
});
</script>
{% endblock %}

{% block section%}


{% endblock %}